In [3]:
# importing packages

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import math
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

from sklearn.preprocessing import StandardScaler, RobustScaler, MinMaxScaler

In [4]:
# uploading dataframe from EDA

df = pd.read_csv('Cleaned_Life_Expectancy_Data.csv')

# Test/Train Split

In [64]:
# defining our features and target
feature_cols = list(df.columns)
feature_cols.remove('Life expectancy ')

In [65]:
# defining our features and target
X = df[feature_cols]
y = df['Life expectancy ']

In [66]:
# test/train split with 80% train size/20% test size
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 155)

In [67]:
X_train.head()

,Country,Year,Status,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
1519,Libya,2000,Developing,148.0,3,0.01,457.320224,0,52.8,3,94.0,3.41,94.0,0.1,5.7,5.5,0.727000,15.500000
1336,Jordan,2007,Developing,12.0,4,0.60,373.262864,41,59.3,4,98.0,8.35,98.0,0.1,3.8,3.8,0.736000,13.600000
717,Democratic People's Republic of Korea,2002,Developing,167.0,14,3.08,0.000000,0,26.2,18,99.0,4.33,64.0,0.1,5.9,5.9,0.587465,11.352032
704,Democratic People's Republic of Korea,2015,Developing,139.0,6,0.01,0.000000,0,32.9,7,99.0,4.33,96.0,0.1,4.9,4.9,0.587465,11.352032
2257,Serbia,2008,Developing,132.0,1,9.54,96.332379,2,55.8,1,95.0,1.50,95.0,0.1,2.3,2.4,0.749000,13.500000

# Feature Engineering (Complex) - Train

In [41]:
# feature engineering complex model
def feature_eng(df):
        df = df.copy()

        df['Status'] = df['Status'].map({'Developed':1, 'Developing':0})

        df.drop(columns = ['Country', 'Year', 'infant deaths', 'Measles ', 'Total expenditure'], inplace = True)

        return df

In [42]:
# applying feature engineering on X_train
X_train_fe = feature_eng(X_train)

In [43]:
# Scaling on X_train, using Robust scaler
rob = RobustScaler().set_output(transform="pandas")
rob.fit(X_train_fe)
X_train_fe = rob.transform(X_train_fe)

In [44]:
# checking data types of X_train
X_train.dtypes

Country                             object
Year                                 int64
Status                              object
Adult Mortality                    float64
infant deaths                        int64
Alcohol                            float64
percentage expenditure             float64
Measles                              int64
 BMI                               float64
under-five deaths                    int64
Polio                              float64
Total expenditure                  float64
Diphtheria                         float64
 HIV/AIDS                          float64
 thinness  1-19 years              float64
 thinness 5-9 years                float64
Income composition of resources    float64
Schooling                          float64
dtype: object

In [45]:
# Checking columns in X_train_fe
X_train_fe.columns

Index(['Status', 'Adult Mortality', 'Alcohol', 'percentage expenditure',
       ' BMI ', 'under-five deaths ', 'Polio', 'Diphtheria ', ' HIV/AIDS',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [46]:
X_train_fe.head()

,Status,Adult Mortality,Alcohol,percentage expenditure,BMI,under-five deaths,Polio,Diphtheria,HIV/AIDS,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
1519,0.0,0.039735,-0.515786,0.851139,0.251513,-0.037037,0.052632,0.052632,0.0,0.436364,0.385965,0.194030,0.820513
1336,0.0,-0.860927,-0.432068,0.668051,0.426362,0.000000,0.263158,0.263158,0.0,0.090909,0.087719,0.227612,0.333333
717,0.0,0.165563,-0.080170,-0.144963,-0.464022,0.518519,0.315789,-1.526316,0.0,0.472727,0.456140,-0.326623,-0.243069
704,0.0,-0.019868,-0.515786,-0.144963,-0.283793,0.111111,0.315789,0.157895,0.0,0.290909,0.280702,-0.326623,-0.243069
2257,0.0,-0.066225,0.836467,0.064861,0.332213,-0.111111,0.105263,0.105263,0.0,-0.181818,-0.157895,0.276119,0.307692

In [47]:
# initialising, fitting and predicting linear regression using SK learn

lin_reg = LinearRegression()

lin_reg.fit(X_train_fe, y_train)

y_pred = lin_reg.predict(X_train_fe)

metrics.mean_squared_error(y_train, y_pred, squared=False)

4.064691430035102

# Feature Engineering (Complex) - Test

In [48]:
# applying feature engineering to X_test
X_test_fe = feature_eng(X_test)

In [49]:
# applying scaling to X_test_fe
X_test_fe = rob.transform(X_test_fe)

In [50]:
X_test_fe.head()

,Status,Adult Mortality,Alcohol,percentage expenditure,BMI,under-five deaths,Polio,Diphtheria,HIV/AIDS,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
308,0.0,0.370861,0.040440,-0.144963,0.173504,0.259259,0.105263,0.105263,0.166667,-0.381818,-0.385965,-0.097015,0.384615
916,0.0,-0.370861,0.874778,0.009720,-0.991258,-0.148148,0.315789,0.315789,0.000000,-0.436364,-0.438596,0.757463,1.179487
538,0.0,-0.635762,-0.457609,-0.125499,-0.754539,2.777778,-2.947368,-3.578947,8.500000,-0.327273,-0.333333,-1.376866,-1.717949
1536,1.0,-0.523179,1.060660,-0.144963,0.480161,-0.148148,0.315789,0.315789,0.000000,-0.418182,-0.421053,0.824627,0.410256
129,1.0,-0.503311,1.230933,18.042827,0.367182,-0.148148,0.263158,0.263158,0.000000,-0.272727,-0.228070,0.809701,0.923077

In [51]:
# Calculating the RMSE of the complex model

y_pred_test = lin_reg.predict(X_test_fe)

RMSE = metrics.mean_squared_error(y_test, y_pred_test, squared=False)

print(f'The RMSE of our complex model {RMSE}')

The RMSE of our complex model 4.180115338556166

# Feature Engineering (Simple/Data Sensitive) - Train

In [52]:
# checking the columns of the the data frame
df.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Measles ',
       ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', ' thinness  1-19 years',
       ' thinness 5-9 years', 'Income composition of resources', 'Schooling'],
      dtype='object')

In [53]:
# feature engineering the simple model

def feature_eng_simple(df):
        df = df.copy()

        df['Status'] = df['Status'].map({'Developed':1, 'Developing':0}).astype(float)

        df.drop(columns = ['Country', 'Year', 'infant deaths', 'Measles ', 'Total expenditure',' BMI ', 'Adult Mortality', 'Alcohol', 'percentage expenditure', 'under-five deaths ', 'Polio', 'Diphtheria ', ' HIV/AIDS', ' thinness  1-19 years', ' thinness 5-9 years'], inplace = True)

        return df

In [54]:
# applying feature engineering to X_train
X_train_fe_simple = feature_eng_simple(X_train)

In [55]:
# applying scaling to X_train_fe_simple with Robust Scaler
rob = RobustScaler().set_output(transform="pandas")
rob.fit(X_train_fe_simple)
X_train_fe_simple = rob.transform(X_train_fe_simple)

In [56]:
X_train_fe_simple.head()

      Status  Income composition of resources  Schooling
1519     0.0                         0.194030   0.820513
1336     0.0                         0.227612   0.333333
717      0.0                        -0.326623  -0.243069
704      0.0                        -0.326623  -0.243069
2257     0.0                         0.276119   0.307692

In [57]:
# initialising, fitting and predicting linear regression using SK learn

lin_reg_simple = LinearRegression()

lin_reg_simple.fit(X_train_fe_simple, y_train)

y_pred_simple = lin_reg_simple.predict(X_train_fe_simple)

metrics.mean_squared_error(y_train, y_pred_simple, squared=False)

6.066801951438528

# Feature Engineering (Simple/Data Sensitive) - Test

In [58]:
X_test_fe_simple = feature_eng_simple(X_test)

In [59]:
X_test_fe_simple = rob.transform(X_test_fe_simple)

In [60]:
X_test_fe_simple.head()

      Status  Income composition of resources  Schooling
308      0.0                        -0.097015   0.384615
916      0.0                         0.757463   1.179487
538      0.0                        -1.376866  -1.717949
1536     1.0                         0.824627   0.410256
129      1.0                         0.809701   0.923077

In [61]:
y_pred_test_simple = lin_reg_simple.predict(X_test_fe_simple)

RMSE_simple = metrics.mean_squared_error(y_test, y_pred_test_simple, squared=False)

print(f'The RMSE of our simple model {RMSE_simple}')

The RMSE of our simple model 5.9307621234637615

# Our Final Function

In [69]:
# our final function

while True:
    choice = input("Do you consent to using advanced population data, which may include protected information, for better accuracy? (Y/N)").lower()
    life_expectancy_data = "Cleaned_Life_Expectancy_Data.csv"
    df = pd.read_csv(life_expectancy_data)
    feature_cols = list(df.columns)
    feature_cols.remove('Life expectancy ')
    X = df[feature_cols]
    y = df['Life expectancy ']
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=155)

    if choice == 'y':
        def feature_eng(df):
            df = df.copy()

            df['Status'] = df['Status'].map({'Developed': 1, 'Developing': 0}).astype(float)

            df.drop(columns=['Country', 'Year', 'infant deaths', 'Measles ', 'Total expenditure'], inplace=True)

            return df
        X_train_fe = feature_eng(X_train)
        rob = RobustScaler().set_output(transform="pandas")
        rob.fit(X_train_fe)
        X_train_fe = rob.transform(X_train_fe)
        lin_reg = LinearRegression()

        lin_reg.fit(X_train_fe, y_train)

        while True:
            val = input("Is your country Developed or Developing?")
            try:
                Status = (val.lower().capitalize())
                break;
            except ValueError:
                print("No.. input is not a number. its a string")

        while True:
            val = input("Please enter the adult mortality rates of both sexes (probability of dying between 15 and 60 years per 1000 population)")
            try:
                Adult_mortality = float(val)
                break;
            except ValueError:
                print("No.. input is not a number. its a string")

        while True:
            val = input("Please enter the alcohol, recorded per capita (15+) consumption (in litres of pure alcohol)")
            try:
                Alcohol = float(val)
                break;
            except ValueError:
                print("No.. input is not a number. its a string")

        while True:
            val = input("Please enter the expenditure on health as a percent of Gross Domestic Product per capita(%)")
            try:
                Percentage_expenditure = float(val)
                break;
            except ValueError:
                print("No.. input is not a number. its a string")

        while True:
            val = input("Please enter the Average Body Mass Index (BMI) of entire population")
            try:
                BMI = float(val)
                break;
            except ValueError:
                print("No, please enter a string")

        while True:
            val = input("Please enter the number of under-five deaths per 1000 population")
            try:
                Under_5_deaths = float(val)
                break;
            except ValueError:
                print("No, please enter a string")

        while True:
            val = input("Please enter the Polio (Pol3) immunization coverage among 1-year-olds (%)")
            try:
                Polio = float(val)
                break;
            except ValueError:
                print("No.. input is not a number. its a string")

        while True:
            val = input("Please enter the Diphtheria tetanus toxoid and pertussis (DTP3) immunization coverage among 1-year-olds (%)")
            try:
                Diphtheria = float(val)
                break;
            except ValueError:
                print("No.. input is not a number. its a string")

        while True:
            val = input("Please enter the deaths per 1000 live births due to HIV/AIDS (0-4 years)")
            try:
                HIV_AIDS = float(val)
                break;
            except ValueError:
                print("No.. input is not a number. its a string")

        while True:
            val = input("Please enter the prevalence of thinness among children and adolescents for Age 1 to 19 (%)")
            try:
                Thinness_1_19 = float(val)
                break;
            except ValueError:
                print("No.. input is not a number. its a string")

        while True:
            val = input("Please enter the prevalence of thinness among children for Age 5 to 9(%)")
            try:
                Thinness_5_9 = float(val)
                break;
            except ValueError:
                print("No.. input is not a number. its a string")

        while True:
            val = input("Please enter the income composition of resources")
            try:
                Income_composition_of_resources= float(val)
                break;
            except ValueError:
                print("No.. input is not a number. its a string")

        while True:
            val = input("Please enter the number of years of Schooling (years)")
            try:
                Schooling = float(val)
                break;
            except ValueError:
                print("No.. input is not a number. its a string")

        default_df_2 = pd.DataFrame(0, index=range(1), columns=['Country', 'Year', 'Status', 'Adult Mortality',
                                                                'infant deaths', 'Alcohol', 'percentage expenditure',
                                                                'Measles ',
                                                                ' BMI ', 'under-five deaths ', 'Polio',
                                                                'Total expenditure',
                                                                'Diphtheria ', ' HIV/AIDS', ' thinness  1-19 years',
                                                                ' thinness 5-9 years',
                                                                'Income composition of resources', 'Schooling'])

        updated_who_df_2 = pd.DataFrame({'Status': [Status], 'Adult Mortality': [Adult_mortality], 'Alcohol': [Alcohol],
                                         'percentage expenditure': [Percentage_expenditure], ' BMI ': [BMI],
                                         'under-five deaths ': [Under_5_deaths], 'Polio': [Polio], 'Diphtheria ': [Diphtheria],
                                         ' HIV/AIDS': [HIV_AIDS], ' thinness  1-19 years': [Thinness_1_19],
                                         ' thinness 5-9 years': [Thinness_5_9],
                                         'Income composition of resources': [Income_composition_of_resources],
                                         'Schooling': [Schooling]})

        default_df_2.update(updated_who_df_2)

        user_complex_data = feature_eng(default_df_2)
        user_complex_data = rob.transform(user_complex_data)
        le_prediction_2 = lin_reg.predict(user_complex_data)
        print(f'The life expectancy of your country is {le_prediction_2}')

        break

    elif choice == 'n':
        def feature_eng_simple(df):
            df = df.copy()

            df['Status'] = df['Status'].map({'Developed': 1, 'Developing': 0})

            df.drop(columns=['Country', 'Year', 'infant deaths', 'Measles ', 'Total expenditure', ' BMI ', 'Adult Mortality',
                             'Alcohol', 'percentage expenditure', 'under-five deaths ', 'Polio', 'Diphtheria ', ' HIV/AIDS',
                             ' thinness  1-19 years', ' thinness 5-9 years'], inplace=True)

            return df
        X_train_fe_simple = feature_eng_simple(X_train)
        rob = RobustScaler().set_output(transform="pandas")
        rob.fit(X_train_fe_simple)
        X_train_fe_simple = rob.transform(X_train_fe_simple)
        lin_reg_simple = LinearRegression()

        lin_reg_simple.fit(X_train_fe_simple, y_train)

        while True:
            val = input("Please enter the Average Body Mass Index of entire population")
            try:
                bmi = float(val)
                break;

            except ValueError:
                print("No.. input is not a number. its a string")
        while True:
            val = input("Please enter the income composition of resources for your country ")
            try:
                composition = float(val)
                break;

            except ValueError:
                print("No.. input is not a number. its a string")
        while True:
            val = input("Please enter the number of years of Schooling (years)")
            try:
                schooling = float(val)
                break;

            except ValueError:
                print("No.. input is not a number. its a string")

        while True:
            val = input("Is your country Developed or Developing?")
            try:
                Status = val.lower().capitalize()
                break;
            except ValueError:
                print("No.. input is not a number. its a string")
        default_df = pd.DataFrame(0, index=range(1), columns=['Country', 'Year', 'Status', 'Adult Mortality',
                                                              'infant deaths', 'Alcohol', 'percentage expenditure', 'Measles ',
                                                              ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
                                                              'Diphtheria ', ' HIV/AIDS', ' thinness  1-19 years',
                                                              ' thinness 5-9 years', 'Income composition of resources', 'Schooling'])

        updated_who_df = pd.DataFrame({' BMI ': [bmi], 'Income composition of resources': [composition], 'Schooling': [schooling], 'Status': [Status]})

        default_df.update(updated_who_df)

        user_simple_data = feature_eng_simple(default_df)
        user_simple_data = rob.transform(user_simple_data)
        le_prediction = lin_reg_simple.predict(user_simple_data)
        print(f'The life expectancy of your country is {le_prediction}')


        break
    else:
        print("Please type in your answer")

Do you consent to using advanced population data, which may include protected information, for better accuracy? (Y/N)Y
Is your country Developed or Developing?Developed
Please enter the adult mortality rates of both sexes (probability of dying between 15 and 60 years per 1000 population)86.0
Please enter the alcohol, recorded per capita (15+) consumption (in litres of pure alcohol)12.1
Please enter the expenditure on health as a percent of Gross Domestic Product per capita(%)5316.877456
Please enter the Average Body Mass Index (BMI) of entire population52.2
Please enter the number of under-five deaths per 1000 population0.0
Please enter the Polio (Pol3) immunization coverage among 1-year-olds (%)83.0
Please enter the Diphtheria tetanus toxoid and pertussis (DTP3) immunization coverage among 1-year-olds (%)83.0
Please enter the deaths per 1000 live births due to HIV/AIDS (0-4 years)0.1
Please enter the prevalence of thinness among children and adolescents for Age 1 to 19 (%)1.7
Please enter the prevalence of thinness among children for Age 5 to 9(%)1.9
Please enter the income composition of resources0.841
Please enter the number of years of Schooling (years)14.7
The life expectancy of your country is [78.06578568]